<%- include('./partials/head.ejs') %>
<div class="popup">
    Match is gewijzigd
</div>

<section class="allMatches">
    <h1><%=title%></h1>
    <ul class="matches">
        <% newData.forEach(item => { %>
        <li class="match">
            <p class="club"><%= item.match[0]%></p>
            <img src="" alt="club logo of: <%= item.match[0]%>"
                onerror="javascript:this.src='/assets/default-team-logo-500.png'">
            <p class="score"><%= item.score[0]%></p>
            <p>VS</p>
            <p class="score"><%= item.score[1]%></p>
            <img src="" alt="club logo of: <%= item.match[1]%>"
                onerror="javascript:this.src='/assets/default-team-logo-500.png'">

            <p class="club"><%= item.match[1]%></p>
        </li>
        <% }) %>
    </ul>
</section>
<%- include('./partials/footer') %>