<%- include('./partials/head.ejs') %>
<section class="allMatches">
    <h1><%=title%></h1>
    <ul>
        <% newData.forEach(item => { %>
        <li>
            <p>
                <span>
                    <%=item.match[0]%>
                </span>
                <span>
                    <%=item.score[0]%>
                </span>
            </p>
            <p>VS</p>
            <p>
                <span>
                    <%=item.match[1]%>
                </span>
                <span>
                    <%=item.score[1]%>
                </span>
            </p>
        </li>
        <% }) %>
    </ul>
</section>
<%- include('./partials/footer') %>